body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 650px;
}

.navBar{
    background-image: linear-gradient(to left, #513268, #694A99 , #513268);
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    padding-top: 50px;
}

.navBar .viewMentors, .ViewSpecific{
    margin-top: 20px;
    margin-left: 60px;
}

.navBar .logo{
    margin-left: 30px;
}

.companyTitle{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 15px;
}

.navBar button{
    width: 170px;
    height: 50px;
    background-image: linear-gradient(to right, #F97A3E , #E0445B);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    margin-left: 250px;
}

.navBar button:hover{
    background-image: linear-gradient(to right, #61458F , #61458F);
    border: 2px solid #E0445B;
}

.central{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    box-shadow: 10px 10px 8px 8px #888888;
    height: 430px;
    padding-top: 10px;
}

.central div{
    margin: auto;
    width: 60%;
    margin-top: 20px;
    color: #433948;
    font-weight: bold;
    font-size: large;
    box-shadow: 10px 10px 8px 8px #888888;
    height: 25px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}

.button{
    display: flex;
    margin-left: 300px;
}

button{
    width: 270px;
    height: 40px;
    background-image: linear-gradient(to right, #F97A3E , #E0445B);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;   
    font-size: medium;
}

 button:hover{
    background-image: linear-gradient(to right, #61458F , #61458F);
    border: 2px solid #E0445B;
}

.footer {
    margin-top: 40px;
    background-image: linear-gradient(to bottom, #52346C, #52346C, #694A99);
    height: 100px;
    width: 100%;
    color: #828892;
}

.horizontal{
    width: 90%;
    margin-left: 28px;
    border: 0.5px solid #828282;
}

.detail{
    display: flex;
    margin-left: 28px;
    margin-top: 5px;
}

.footer .image{
    margin-left: 28px;
}

.detail .details{
    display: flex;
    margin-left: 680px;
}

.detail .details div{
    margin-left: 20px;
}